*{
    margin: 0;
    font-family: sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product{
    width: 300px;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
    padding: 20px;
}

.product  > img{
    width: 100%;
    height: 70%;
    /* filter: blur(1.5px); */
    /* opacity: 0.9; */
    /* filter: brightness(180%); */
    /* filter: hue-rotate(190deg); */
    /* filter: saturate(350%); */
    /* filter: invert(300%); */
    /* filter: grayscale(5); */
    /* filter: sepia(3); */
    
}

.product h3{
    padding: 20px 0px;
}
.product p{
    padding: 20px 30px;
}

